#netflix, #potluck, #bbq, #cocktail {
  display: none;
}

h1, h2 {
  text-align: center;
  color: #3075E2;
}

img.center {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-color: #E06862;
  border-width: 10px;
  border-style: solid;
}

.button, .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

#space {
  margin-bottom: 25px;
}
